<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>x</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap-switch.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/home/styles.css">
  <link rel="stylesheet" href="/css/home/details.css">
  <link rel="stylesheet" href="/css/home/cart.css">
</head>
<body>

{{>home/home-nav}}

{{{body}}}

{{>home/footer}}

</body>
</html>
