<br><br>
<main class="container-fluid">
  <div class="row">
    <section class="jumbotron col-md-6">
      <div class="container">
        <!--<h4>PRODUCTS</h4>-->
        <br>
        <ul class="row" id="products">

        </ul>
      </div>
    </section>
    <section class="jumbotron col-md-6">
      <div class="container">
        <ul class="row" id="cart">

        </ul>
        <hr>
        <button id="acceptCart" class="btn btn-primary">Order</button>
        <button id="clearCart" class="btn btn-primary">Clear</button>
        <hr>
        <h5 id="total"></h5>
      </div>
    </section>
  </div>
</main>