<section class="container">
<br><br><br>
<h2>create</h2>
<form action="/admin/products/create" method="post" enctype="form-data">
  <div class="form-group">
    <input type="text" name="name" value="Product's name">
  </div>
  <div class="form-group">
    <input type="text" name="price" value="Product's price">
  </div>
  <button type="submit">create</button>
</form>
</section>
